<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Servers - InfuraOffice</title>
    <script src="../static/vue.js"></script>
    <script src="../static/axios.min.js"></script>
    <script src="../static/js.cookie.js"></script>
    <script src="../static/InfuraOfficeFrontendHelper.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/common.css"/>
</head>
<body>
<div id="app">
    <div class="pane headBanner">
        <h1>Manage Servers - InfuraOffice</h1>
        <div class="flexSpaceBetween">
            <div>
                <a href="home.html">Back to home page</a>
            </div>
            <div>
                Signed in as {{ user_info.username }}. Thou art {{ user_info.role }}.
                <button v-on:click="logout">Sign out</button>
            </div>
        </div>
    </div>
    <div class="pane" style="text-align: right">
        <button v-on:click="editServer()" class="info">Create New Server</button>
    </div>
    <div class="pane">
        <table style="width: 100%">
            <tr>
                <th>Server Name</th>
                <th>Platform Account</th>
                <th>Assert ID</th>
                <th>Hostname or IP</th>
                <th>Connect Port</th>
                <th>Connect User</th>
                <th>SinriLogKeeper Paths</th>
                <th>Action</th>
            </tr>
            <tr v-for="server in servers">
                <td>{{server.serverName}}</td>
                <td>{{server.platformName}}</td>
                <td>{{server.assertID}}</td>
                <td>{{server.connectAddress}}</td>
                <td>{{server.sshPort}}</td>
                <td>{{server.sshUser}}</td>
                <td>
                    <select>
                        <option v-for="item in server.slkLogPathSet">
                            {{item}}
                        </option>
                    </select>
                </td>
                <td>
                    <div class="flexSpaceAround">
                        <button v-on:click="editServer(server)" class="info">Edit</button>
                        <button v-on:click="deleteServer(server.serverName)" class="warning">Delete</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="pane" v-if="showEditPane||showCreatePane">
        <template v-if="showEditPane">
            <h2>Edit Server</h2>
        </template>
        <template v-if="showCreatePane">
            <h2>Create Server</h2>
        </template>
        <div>
            <label>Server Name:</label>
            <template v-if="showCreatePane">
                <input type="text" v-model="edit_server.serverName"/>
            </template>
            <template v-else>
                <span>{{edit_server.serverName}}</span>
            </template>
        </div>
        <div>
            <label>Platform Account:</label>
            <select v-model="edit_server.platformName">
                <option value="">[Standalone]</option>
                <option v-for="platform in platformOptions" :value="platform.platformName">
                    {{platform.platformName}} - {{platform.platformType}}
                </option>
            </select>
        </div>
        <div>
            <label>Area Code:</label>
            <select v-model="edit_server.areaCode">
                <optgroup v-for="(area_list,platform_type) in areaCodeOptions" :label="platform_type">
                    <option v-for="item in area_list" :value="item.key">{{item.label}}</option>
                </optgroup>
            </select>
        </div>
        <div>
            <label>Assert ID</label>
            <input type="text" v-model="edit_server.assertID">
        </div>
        <div>
            <label>Hostname or IP:</label>
            <input type="text" v-model="edit_server.connectAddress">
        </div>
        <div>
            <label>Connect Port:</label>
            <input type="text" v-model="edit_server.sshPort">
        </div>
        <div>
            <label>Connect User:</label>
            <input type="text" v-model="edit_server.sshUser">
        </div>
        <div>
            <label>SinriLogKeeper Paths:</label>
            <textarea v-model="edit_server.slk_paths"></textarea>
        </div>
        <div style="text-align: right">
            <button v-on:click="showEditPane=false;showCreatePane=false;" class="dash">Cancel</button>
            <button v-on:click="submitModification" class="primary">Update</button>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            user_info: {
                privileges: [],
                role: "",
                expire: 0,
                username: '',
                token: '',
            },
            platformOptions: [],
            areaCodeOptions: [],
            servers: [],
            edit_server: {
                serverName: "",
                areaCode: "",
                assertID: "",
                platformName: "",
                sshUser: "admin",
                sshPort: "22",
                connectAddress: "",
                slk_paths: ""
            },
            showEditPane: false,
            showCreatePane: false,
        },
        methods: {
            logout: function () {
                CookieHelper.clearToken();
                location.href = "login.html";
            },
            validateSession: function () {
                callInfuraOfficeJsonAPI(
                    "post",
                    "../api/session/validate",
                    {},
                    (data) => {
                        this.user_info = data;
                    },
                    (error) => {
                        console.log(error);
                        alert("Session cannot be validated, you can try to logout and login again.");
                        this.logout();
                    }
                )
            },
            listPlatformOptions: function () {
                callInfuraOfficeJsonAPI(
                    "post",
                    "../api/query/platform",
                    {},
                    (data) => {
                        console.log("listPlatformOptions", data);
                        this.platformOptions = data.options;
                    },
                    (error) => {
                        console.log("listPlatformOptions error", error);
                    }
                )
            },
            listServers: function () {
                callInfuraOfficeJsonAPI(
                    "post",
                    "../api/manage/server/list",
                    {},
                    (data) => {
                        console.log(data);
                        this.servers = data.servers;
                    },
                    (error) => {
                        console.log(error);
                        alert("Cannot fetch server list");
                    }
                )
            },
            editServer: function (server) {
                if (server) {
                    this.showCreatePane = false;
                    this.showEditPane = true;
                    this.edit_server = {
                        serverName: server.serverName,
                        areaCode: server.areaCode,
                        assertID: server.assertID,
                        platformName: server.platformName,
                        sshUser: server.sshUser,
                        sshPort: server.sshPort,
                        connectAddress: server.connectAddress,
                        slk_paths: server.slkLogPathSet.join("\n"),
                    };
                } else {
                    this.showCreatePane = true;
                    this.showEditPane = false;
                    this.edit_server = {
                        serverName: "",
                        areaCode: "",
                        assertID: "",
                        platformName: "",
                        sshUser: "admin",
                        sshPort: "22",
                        connectAddress: "",
                        slk_paths: ""
                    };
                }
            },
            submitModification: function () {
                let parameters = {
                    act: "update",
                    serverName: this.edit_server.serverName,
                    areaCode: this.edit_server.areaCode,
                    assertID: this.edit_server.assertID,
                    platformName: this.edit_server.platformName,
                    sshUser: this.edit_server.sshUser,
                    sshPort: this.edit_server.sshPort,
                    connectAddress: this.edit_server.connectAddress,
                    slk_paths: this.edit_server.slk_paths,
                };
                callInfuraOfficeJsonAPI(
                    "post",
                    "../api/manage/server/act",
                    parameters,
                    (data) => {
                        this.listServers();
                        this.showCreatePane = false;
                        this.showEditPane = false;
                        alert("Modification Accepted!");
                    },
                    (error) => {
                        alert("Failed to call api. " + error);
                    }
                )
            },
            deleteServer: function (serverName) {
                if (!confirm("Do you really want to confirm deleting server " + serverName + "?")) {
                    return false;
                }
                callInfuraOfficeJsonAPI(
                    "post",
                    "../api/manage/server/act",
                    {
                        act: 'delete',
                        serverName: serverName
                    },
                    (data) => {
                        this.listServers();
                        alert("Server Deleted!");
                    },
                    (error) => {
                        alert("Failed to call api. " + error);
                    }
                )
            }
        },
        mounted: function () {
            if (!CookieHelper.isLogin()) {
                location.href = "login.html";
                return;
            }
            this.validateSession();
            this.listPlatformOptions();

            this.areaCodeOptions = allPlatformAreaCodeOptions();

            this.listServers();
        }
    });
</script>
</body>
</html>